/* buttons */
.auth-action-btn {
    background-color: white;
    outline: none;
    border: none;
    height: 35px;
    border-radius: 10rem;
    padding-inline: 20px;
    padding-block: 10px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 15rem;
    cursor: pointer;
}

.auth-action-btn img {
    height: 20px;
    width: 30px;
}

.create-account-btn {
    background-color: #1D9BF0;
    color: white;
}

.sign-in {
    background-color: transparent;
    border: 1px gray solid;
    color: #1D9BF0;
    font-weight: 500;
}

/* buttons */
/* links */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

* {
    margin: 0;
    padding: 0;
}

.footer-container {
    /* height: 15%;    */
    width: 100%;
}

.footer-list-item {
    height: fit-content;  
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    padding-inline: 5px;
    padding-block: 5px;
    font-size: 8px;
}


.divider-container {
    width: 15rem;
}

.divider {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hr-divider {
    border-bottom: 1px solid gray;
    width: 50%;
}

.divider-text {
    margin-inline: 10px;
}

@media (max-width: 600px) {
    body {
        background-color: rgb(0, 0, 0);
        color: #fff;
        max-width: 100vw;
        height: 100vh;
        /* min-width: 300px; */
        padding-inline: 30px;
    }

    .body-container {
        height: max-content;
        width: 100%;
        padding-bottom: 40px;
    }

    /* app logo */
    .left-col {
        padding-top: 25px;
    }

    .left-col img {
        height: 40px;
    }

    /* app logo */

    /* app content */
    .right-col {
        padding-top: 25px;
    }

    .right-col h1 {
        font-size: 48px;
        padding-top: 15px;
    }

    .join-now-container {
        padding-block: 30px;
    }

    .join-now-container h3 {
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .footer-container {
        height: fit-content;
    }

    .footer-list-item {height: 95%;
        width: 15rem;
        /* list-style: none;
        justify-content: center;
        display: flex;
        flex-wrap: wrap; */
    }


    .btn-outter-container {
        display: block;
        /* flex: content; */
        margin-top: 5px;
    }

    .terms-agreement-text-container {
        width: 15rem;
        padding: 0;
    }

    .terms-agreement-text {
        font-size: 0.611rem;
        font-weight: 500;
        content: normal;
    }

    .terms-agreement-text a {
        color: #1D9BF0;
    }

    .login-container {
        margin-top: 10px;
    }

    .login-container .sign-in {
        margin-top: 15px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    body {
        background-color: rgb(0, 0, 0);
        color: #fff;
        max-width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .body-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 95%;
        /* padding-bottom: 40px; */
    }

    .sz {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-col img {
        height: 350px;
        background-repeat: no repeat;
    }

    .right-col {
        height: max-content;
        padding-left: 10px;
        padding-block: 10px;
    }

    .right-col h1 {
        font-size: 48px;
    }

    .join-now-container {
        display: block;
        margin-block: 40px;
    }

    .join-now-container h3 {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 25px;
    }

    .btn-outter-container {
        display: block;
        /* flex: content; */
        margin-top: 5px;
    }

    .terms-agreement-text-container {
        width: 15rem;
        padding: 0;
    }

    .terms-agreement-text {
        font-size: 0.611rem;
        font-weight: 500;
        content: normal;
    }

    .login-container .sign-in {
        margin-top: 15px;
    }
}

@media (width >=1024px) {
    body {
        background-color: rgb(0, 0, 0);
        color: #fff;
        max-width: 100vw;
        height: 100vh;
    }

    .body-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 95%;
        /* gap: 20px; */
    }

    .sz {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-col img {
        height: 350px;
        background-repeat: no repeat;
    }

    .right-col {
        height: max-content;
        padding-left: 10px;
        padding-block: 10px;
    }

    .right-col h1 {
        font-size: 48px;
    }

    .join-now-container {
        display: block;
        margin-block: 40px;
    }

    .join-now-container h3 {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 25px;
    }

    .btn-outter-container {
        display: block;
        /* flex: content; */
        margin-top: 5px;
    }

    .terms-agreement-text-container {
        width: 15rem;
        padding: 0;
    }

    .terms-agreement-text {
        font-size: 0.611rem;
        font-weight: 500;
        content: normal;
    }

    .login-container .sign-in {
        margin-top: 15px;
    }
}