.container {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
  }
  
  .col {
    flex: 1;
    border: 1px solid #000;
    margin: 5px;
    padding: 10px;
  }

  /* .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } */
  
  
  @media (max-width: 600px) { 
    body{
        background-color: red;
    }
    .container {
      flex-direction: column;
    }
  
    .col {
      order: 2; /* Default order for mobile */
    }
  
    .col-md {
      order: 1; /* Re-order col-md for mobile */
    }
  
    .col-rt {
      order: 3; /* Re-order col-rt for mobile */
    }
  
    .col-lt {
      order: 4; /* Re-order col-lt for mobile */
    }
  }
  
  /* @media screen and (min-width: 600px) and (max-width: 1024px) { */
    @media (max-width: 1024px) {
    body{
      background-color: green;
    }
    
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .container > *{
      flex: 1 1 15em;
    }
/*   
    .col {
      order: 2; 
    } */

    /* .col-lt {
      order: 4; 
      flex-basis: 100%;
    }
  
    .col-md {
    order: 2; 
    flex-basis: 20%;
  }

  .col-rt {
    order: 3; 
    flex-basis: 20%;
  } */
  } 
  
  